@media (max-width: 1250px) {
    .projects__slider {
        width: 900px;
        margin: 0 auto;
    }
    .projects__slider-item {
        width: 255px;
        height: 255px;
        padding: 0 12px;
    }
    .header__list {
        justify-content: center;
        padding-left: 0px;
    }
    // .projects {
    //     display: none;
    // }
}

@media (max-width: 1060px) {
    .projects__slider-item {
        width: 255px;
        height: 255px;
        padding: 0 12px;
    }
    .services {
        &__item-img {
            margin-top: 0px;
        }
        &__item {
           margin-bottom: 20px;
        }
        &__items {
            margin-bottom: 20px;
            align-items: center;
        }
    }
}

@media (max-width: 940px) {
    .news {
        &__standards {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        &__title {
            max-width: 490px;
        }
        &__text {
            max-width: 490px;
            margin: 30px 0 20px;
        }
        &__desc {
            max-width: 490px;
            margin: 0px auto 40px;
        }
        // &__img {
        //     display: none;
        // }
    }
    .projects__slider {
        width: 100%;
     }
}
@media (max-width: 620px) {

    .burger-header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: #000;
        z-index: 13;
    }
    .burger-menu {
        display: block;
        background: $grey;
        position: fixed;
        top: -100%;
        height: 100vh;
        width: 100vw;
        z-index: 11;
        transition: all 0.3s ease 0s;
    }
    .burger-menu.active {
        top: 0;
    }
    .header {
        position: relative;
        &__title {
            padding-top: 0px;
        }
        &__list {
            z-index: 12;
            display: block;
            padding: 0;
            margin-top: 20px;
            position: fixed;
            left: 50%;
            top: 100px;
            transform: translate(-50%, 0%);
        } 
        &__list.active {
            display: none;
        }
        &__list li {
            padding-bottom: 20px;
            width: 100%;
            background: $grey;
            font-size: 18px;
        }
        &__content {
            padding-top: 50%;
        }
        &__title {
            font-size: 42px;
            line-height: 56px;
        }
        &__burger {
            z-index: 12;
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            cursor: pointer;
            top: 20px;
            left: 20px;
            &::before, &::after {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::before{
                top: 0;
            } 
            &::after {
                bottom: 0;
            }
            &.active::before {
                transform: rotate(45deg);
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            &.active::after {
                transform: rotate(- 45deg);
                bottom: 9px;
                transition: all 0.3s ease 0s;
            }
            &.active span {
              transform: scale(0);
              transition: all 0.3s ease 0s;
            }
            span {
                background-color: #fff; 
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
            }

        }
    }
    .news__img {
        width: 100%;
     }
     .projects__slider {
       width: 100%;
    }
}

@media (max-width: 520px) {
    .projects__slider-item {
        margin-left: 50%;
        transform: translate(-50%, 0);

     }
}
@media (max-width: 375px) {
    .mailing {
        &__form {
            display: block;
        }
        &__input {
            width: 300px;
            padding: 12px 0 12px;
            box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
            border-radius: 30px;
            padding-left: 33px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        &__btn {
            padding: 13px 26px 13px 26px;
            width: 300px;
            border-radius: 30px;
        }
    }
}